.switch {
  position: relative;
  width: 62px;
  height: 30px;
  border-radius: 15px;
  background: #F5F5F7;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;

  &__mark {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 4px 4px 0 #0000001A;
    transition: left 0.3s ease-in-out;
  }

  & input[type='checkbox'] {
    opacity: 0;
    outline: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &_checked {
    background: #39AA67;

    & .switch__mark {
      left: 34px;
    }
  }
}