@import "core/styles/mixins";

.homePage {
  & p {
    color: #8D8D8D;
  }
}

.linksBoxWrp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 60px;

  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 30px;
  }
}

.linkBoxWrp {
  max-width: 610px;
  min-width: 260px;
}

.linkBox {
  position: relative;
  width: 100%;
  padding-top: 80%;
  background-color: #ccc;
  border-radius: 30px;

  & div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_bgPrimary {
    background: #39AA67;
  }

  &_bgDark {
    background: #333333;
  }

  @include mobile {
    border-radius: 15px;
  }
}