@import "@/core/styles/mixins";

.footerWrp {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  font-weight: 300;

  @include mobile {
    padding: 30px 0 ;
  }

  & * {
    color: #ffffff;
    @include adaptiveFont(20, 13);
  }
}

.foundersHelp {
  display: flex;
  gap: 20px;
  align-items: center;

  @include mobile {
    gap: 15px;
  }

  & a {
    text-decoration: underline dotted #8D8D8D;
    text-underline-offset: 4px;
  }

  &__image {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}