.pageNavWrp {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;
}

.pageNav_backdropBlur {
  background: rgba(241, 246, 248, 0.69);
  backdrop-filter: blur(5px);
}