@import "@/core/styles/mixins";

.input {
  padding: 15px 20px;
  border-radius: 11px;
  border: 1px solid #ECECEC;
  background: #F5F5F7;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &::placeholder {
    color: #8D8D8D;
    font-weight: 300;
  }

  &:focus {
    outline-color: #727272;
    outline-width: 2px;
    outline-offset: 0;
  }

  &_textArea {
    resize: none;
  }

  &_error {
    color: #FF0200;
    border: 1px solid #FF0200;
    background: #FFBEBEB2;

    &::placeholder {
      color: #fa403e;
    }
    &:focus {
      outline-color: #FF0200;
    }
  }
}