@import "mixins";
@import "home";

* {
  @include adaptiveFont(24, 16);
  color: #333333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #333333;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.large-container {
  width: 100%;
  max-width: 1278px;
  padding: 0 19px;
  margin: 0 auto;
}

.small-container {
  width: 100%;
  max-width: 890px;
  padding: 0 19px;
  margin: 0 auto;
}

.main {
  position: relative;
  transform-origin: top;
  min-height: 101vh;
  background: white;
  padding-bottom: 120px;

  &--view-footer {
    bottom: 30px;
  }

  @include mobile {
    padding-bottom: 20px;
  }

  &--hidden {
    overflow: hidden;
  }
}

.fade-enter {
  opacity: 0.01;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}