@import "core/styles/mixins";

.pageWrp {
  position: relative;
  z-index: 1;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out, border-radius 0.4s ease-in-out;
  overflow: hidden;

  &_hidden {
    overflow: hidden;
  }

  &_viewFooter {
    transform: translateY(-250px) scale(0.9);
    border-radius: 0 0 40px 40px;

    @include mobile {
      transform: translateY(-140px) scale(0.9);
    }
  }
}

.pageWrpMark {
  position: relative;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0);
}


.pageBlackout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}