@import "@/core/styles/mixins";

.radioPaymentsTermList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(363px, 1fr));
  gap: 15px;

  @include mobile {
    grid-template-columns: 1fr
  }
}

.radioPaymentsTermItem {
  position: relative;
  overflow: hidden;
  padding: 30px;
  border-radius: 17px;
  max-height: 377px;
  background: #F5F5F7;
  z-index: 1;
  user-select: none;
  transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out;

  @include mobile {
    padding: 15px;
  }

  & label {
    font-weight: 700;
  }

  &__price {
    margin-top: 15px;
    width: fit-content;
    padding: 10px 20px 10px 0;
    border-radius: 14px;
    background-color: #F5F5F7;
    @include adaptiveFont(30, 16);
    transition:  padding 0.3s ease-in-out;
  }

  & p {
    @include adaptiveFont(20, 16)
  }

  & input {
    outline: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &_checked {
    background: #39AA67;
    & label {
      color:#fff;
    }

    & .radioPaymentsTermItem__price {
      padding: 10px 20px;
    }

    & p {
      color:#fff;
    }
  }
}