@import "@/core/styles/mixins";

.aboutTeam {

  &Nav {
    width: 100%;
    padding: 14px 54px;
    border-radius: 10px;
    background: #F5F5F7;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__item {
      color: #000;
      text-decoration: underline dotted #8D8D8D;
      text-underline-offset: 5px;
      transition: color 0.2s ease-in-out;
      @include adaptiveFont(20, 12);

      @include hover {
        color: #333333;
      }
    }

    @include mobile {
      padding: 10px 10px;
      margin-bottom: 20px;
    }
  }

  &FoundersWrp {
    background: #333333;
    height: fit-content;
    margin-top: 60px;
    padding: 60px 0;

    @include mobile {
      padding: 40px 0;
      margin-top: 40px;
    }
  }

  &FoundersTitle {
    display: none;

    @include mobile {
      display: block;
      margin: 0 0 10px 0;
    }
  }

  &Founders {
    display: flex;
    gap: 30px;
  }

  &Founder {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }

    &__img {
      display: inline-block;
      position: relative;
      width: 126px;
      height: 126px;
      border-radius: 50%;
      overflow: hidden;

      @include mobile {
        width: 108px;
        height: 108px;
      }
    }

    &__info {
      max-width: 265px;
    }

    &__nameLink {
      color: #FFF;
      text-decoration: underline dotted #8D8D8D;
      text-underline-offset: 6px;
      transition: 0.2s ease-in-out;

      @include hover {
        color: #8D8D8D;
      }
    }

    & p {
      @include adaptiveFont(20, 16);
      color: #8D8D8D;
      margin: 10px 0;
    }
  }

  &FoundersTaskDefinition {
    border-radius: 11px;
    background: #39AA67;
    padding: 36px 45px;
    margin-top: 100px;

    @include mobile {
      margin-top: 20px;
      padding: 14px;
    }

    & p {
      color: #fff;
      margin: 28px 0;

      & a {
        color: #fff;
        text-decoration: underline dotted #fff;
        text-underline-offset: 4px;
      }

      &:first-child {
        margin: 10px 0 24px 0;
      }
      &:last-child {
        margin: 28px 0 10px 0;
      }
    }
  }

  &OurApproachTitle {
    max-width: 550px;
  }

  &OurApproachList {
    transform-origin: right;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 360px;

    @include mobile {
      gap: 7px;
      min-height: 265px;
    }
  }

  &OurApproachBtn {
    padding: 0;
    background: none;
    border: none;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline dotted #8D8D8D;
    text-underline-offset: 5px;
  }

  &ReviewsTitle {
    max-width: 600px;
  }

  &ReviewsWrp {
    min-height: 900px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &Review {

    &__details {
      margin-top: 20px;
      border-radius: 10px 25px 25px 25px;
      background: #F1F6F8;
      padding: 40px 20px 40px 40px;
      color: #8D8D8D;
      transform-origin: left top;

      @include mobile {
        padding: 15px 20px;
      }
    }
  }

  &Reviewer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &__img {
      position: relative;
      width: 71px;
      height: 71px;
      border-radius: 50%;
      overflow: hidden;

      & img {
        object-fit: cover;
      }
    }

    &__info {
      color: #000;

      & a {
        color: #347AB7;
        text-decoration: underline dotted #8D8D8D;
        text-underline-offset: 4px;
      }
    }
  }
}